@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .cr {
    @apply flex flex-row justify-center items-center;
  }
  .cc {
    @apply flex flex-col min-h-screen justify-center items-center;
  }
  .copy-btn {
    @apply h-28 w-28 justify-center items-center flex rounded-lg transition ease-in-out duration-100 overflow-clip;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* background-image: BG.png; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
